 <div class="container-fluid w-full" style="height: 500px;">
    <div class="grid md:grid-cols-12 md:p-3" style="height: 500px;">
        <div class="col-span-1 h-full flex justify-center items-center"></div>
        <div class="col-span-3 px-4 py-3 mt-3 mb-4 h-full flex justify-center items-center text-center flex-col text-white tracking-widest" style="background:#2d6dfa;font-family: 'Libre Baskerville', serif">
        <p class="font-black text-3xl">Información de Contacto</p>
        <p>Jubenalcastaneda@gmail.com</p>
        <p>462 228 0005</p>
        </div>
        <div class=" text-left pt-2 mt-4 mb-4 pb-5  font-black text-3xl lg:col-span-7 col-span-8 h-full flex justify-around items-center flex-col" style="font-family: 'Open Sans', sans-serif; ">
            <p class="lg:text-3xl font-black">Enviar un Mensaje</p>
            <form (ngSubmit)="contactForm(form.value)" #form="ngForm" class="p-5 ml-2 w-full flex flex-col">
            <input *ngFor="let formulario of formularios" class="w-full    form-control border-b-2       pt-4 border-gray-400 lg:mt-3 " type="text" name="{{formulario.name}}" id="" placeholder="{{formulario.etiqueta}}" ngModel>
            
            <button class="text-white font-bold hover:text-black italic colorcontenedor px-4 py-3 mt-4 rounded-full text-center" href=""  >Enviar</button>
        </form>
        </div>
    </div>
</div>
 

 
