<!-- Imagen y link para mostrar informacion -->
<p class="lg:text-5xl text-3xl italic text-center" style="font-family: 'Libre Baskerville', serif;">Referencias</p>
<div class="container-fluid w-50 flex justify-center">

    <div class="text-uppercase text-4xl font-bold flex justify-center text-center flex-col">
        <p>Universidad de Guanajuato</p>
        <img [src]="imagenug" class="object-contain" alt="">
        <a (click)="cambiarug()">Cambiar<i class="fa "
                [ngClass]="{'fa-eye': !mostrarug, 'fa-eye-slash': mostrarug}"></i></a>

    </div>
</div>

<div [ngClass]="contenedorprincipal">
          <div [@showUp]="mostrarug" [ngClass]="contenedorsecundario">
              <div *ngIf="mostrarug==true"class=" pt-2 pb-2 m-2 inline text-center uppercase text-3xl flex justify-center flex-col">
                
                <div class="container  mb-5 mt-5 px-2 py-4 mx-auto my-2 flex justify-center ">
                    <div class="slider md:w-5/12  p-3 w-full">
                        <div class="slider-container  flex flex-row ">
                            <img src="{{instituciones[0].imagen1}}">
                            <img src="{{instituciones[0].imagen2}}">
                            <img src="{{instituciones[0].imagen3}}">
                            <img src="{{instituciones[0].imagen4}}">
                            <img src="{{instituciones[0].imagen5}}">
                        </div>
                    </div>
                </div>
                <div class="text-2xl text-justify flex justify-center flex-col items-center ">
                    <p>Universidad de Guanajuato</p>
                <p class="font-black">Enero2017-Diciembre2018</p>
                    
                        <p class="text-4xl font-black">Actividades Realizadas</p>
                        <li>Administración de Proyectos web usando herramientas UML y diseño de algoritmos</li>
                        <li>Modelado e implementación de bases de datos relacionales</li>
                        <li>Desarrollo de Proyectos Web usando uando Html, css y php</li>
                        <li>Encargado del area de Soporte Técnico en el area DICIVA</li>
                    
                </div>
                    <div class="text-blue-400 hover:text-blue-500 h-16">
                        <a class="efectolink " href="https://drive.google.com/file/d/1-TPVAw8XScQ0CQgvO04dkr-jigo-PlMm/view?usp=sharing"
                            target="_blank">Link</a>
                    </div>


                    
                </div>

                
            </div>
        </div>





<!-- 
carrusel
<section>
    
</section>
 -->

<!-- Adicional -->