

.efectolink:hover{
  font-size: 1.2em;

}

.tamano
{
max-width: 50%;
}
.estiloboton
{

cursor: pointer;
}


 
  
.slider
{
overflow: hidden;
}

.slider-container {
  transform: translateX(-0%);
  animation: slider 15s infinite;
}

@keyframes slider {
  0% {
      transform: translateX(0%);
  }
  20%{
    transform: translateX(-100%);
  }
  40%{
    transform: translateX(-200%);
  }
  60%{
    transform: translateX(-300%);
  }
  80%{
    transform: translateX(-400%);
  }
}