<div class="container md:text-5xl text-center mx-auto font-bold md:font-normal  p-3 m-1 italic" style="font-family: 'Open Sans', sans-serif;">
    <p>Benjamín Castañeda Desarrolador Web</p>
</div>
<div [ngClass]="cimagen">
    
    <img [src]="imagenperfil" class="rounded-full">
    
</div>


<div class="container mx-auto px-4 py-2 m-3">
    <div [ngClass]="cbarrainicial" >
        
        <div [ngClass]="cgrid">
       <div [ngClass]="ccontenedor" *ngFor="let icontenedor of icontenedores">
       <a href="#">{{icontenedor.rotulo}}</a>
       </div> 
         
    </div>
    </div> 
</div>


<div class="container mx-auto px-4 py-2 m-3 ">
<div class=" text-base h-auto  text-center lg:text-3xl p-3 infoinicial"  >

  <p class="font-bold md:text-4xl"> Antes de empezar</p>
  
  <div class="whitespace-pre-line ">
    <pre>
    </pre>
      {{primerparrafo}} 
        
      {{segundoparrafo}}
      <pre>
        
    </pre>

    {{tercerparrafo}}
  </div>
<div class="flex justify-center">
  <img [src]="imagenportada" alt="">
</div>

 <p class="font-bold md:text-4xl">Benjamín Castañeda</p>
</div>

<div  class=" text-center" style="min-height: 30px;">
  <div *ngFor="let element of elements" class="circle" [ngStyle]="{'background-color': element}"></div>
</div>