\:host
{
display: block;
text-align: center;
height: 20px;
}

.circle
{
width: 10px;
height: 10px;
border-radius: 50%;
display: inline-block;
margin-right: 5px;

}

.circle:last-child{
    margin-right: 0px;
}

.barrainicial
{
background: #FED0C7;



}


.colorcontenedor
{
background: #FA4620;
font-family: 'Open Sans', sans-serif;
min-width: 250px;
min-height: 3em;
cursor: pointer;
}

.rounded-full
{
max-width: 60%;

}

.infoinicial
{
background: #E7FEBD;
}